<div class="container justify-content-center">
  <p class="lead font-weight-bold">Felismert arcok száma a képen: {{faceApiResponse.length}}</p>
  <table *ngFor="let face of faceApiResponse; let ii = index" class="table">
    <thead>
    <tr>
      <th colspan="2">Arc {{ii + 1}}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th>Életkor</th>
      <td>{{face.faceAttributes.age}}</td>
    </tr>
    <tr>
      <th>Nem</th>
      <td>{{converter.convertGender(face.faceAttributes.gender)}}</td>
    </tr>
    <tr>
      <th>Szemüveg</th>
      <td>{{converter.convertGlasses(face.faceAttributes.glasses)}}</td>
    </tr>
    <tr>
      <th>Mosoly</th>
      <td>{{face.faceAttributes.smile}}%</td>
    </tr>
    <tr>
      <th>Haj</th>
      <td *ngIf="face.faceAttributes.hair.invisible == true">Nem látható</td>
      <td *ngIf="face.faceAttributes.hair.bald > 0.5">Kopasz</td>
      <td *ngIf="face.faceAttributes.hair.invisible == false && face.faceAttributes.hair.bald < 0.5">
        <p *ngFor="let hairType of face.faceAttributes.hair.hairColor; let ii = index">
          {{converter.convertHairColor(hairType.color) + ': ' + hairType.confidence + '%'}}</p>
    </tr>
    <tr>
      <th>Smink</th>
      <td>Szem: {{converter.convertBoolean(face.faceAttributes.makeup.eyeMakeup)}} <br/>
        Száj: {{converter.convertBoolean(face.faceAttributes.makeup.lipMakeup)}}
      </td>
    </tr>
    </tbody>
  </table>
</div>
